# Git, ignore these files and directories please:

__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
env/
.venv/
*.env
.vscode/
.idea/
.DS_Store
Thumbs.db
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
wheels/
*.manifest
*.spec
.coverage
*.cover
.hypothesis/
.cache/
.pyc